<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    Para obtener una descripción de los cambios de web.config para .NET 4.5, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  
<connectionStrings>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'" />
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'" />
    <add name="cadena_conexion" connectionString="Server=DESKTOP-B45RFNJ\SQLEXPRESS;UID=DESKTOP-B45RFNJ\JAVIER_GARCIA;Database=PRUEBA;Trusted_Connection=True;MultipleActiveResultSets=True" providerName="Sql.Data.MySqlClient" />
  <add name="cadena_conexion1" connectionString="Server=NOMBRE_SERVIDOR;UID=NOMBRE_USUARIO;Database=PRUEBA;Trusted_Connection=True;MultipleActiveResultSets=True" providerName="Sql.Data.MySqlClient" />
  </connectionStrings>

</configuration>